
body {
  background-color: #eefdff;
  font-family: 'Montserrat';
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


@media(min-width:1200px)
{
  .content-box{
    width: 73.5%; 
    height: 68%;
  }
}
.contenu_contact {
  font-family: 'Montserrat';
}

.header-box {
  background-image: url(fond8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.header-box .logo {
  text-decoration: none;
  color: #333;
}

#in {
  margin-right: 20px;
}

/* Styles pour la barre de navigation sur le côté gauche */
.sidebar {
  background-color: transparent;
  width: 200px; /* Largeur de la barre de navigation */
  padding: 20px;
  float: left;
  margin-top: 10px;
  cursor: pointer;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar ul li {
  margin-bottom: 10px;
  padding: 10px; /* Ajouter du padding pour créer une boîte autour de chaque élément */
  background-color: #b5dde0; /* Couleur de fond pour les boîtes */
  border-radius: 5px; /* Ajouter un arrondi aux coins des boîtes si souhaité */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.sidebar ul li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 5px;
}

/* CSS */
/* Couleur de fond pour les onglets non actifs */
.sidebar ul li:not(.active) {
  background-color: #FEFEFE; 
}

/* Couleur de fond pour les onglets actifs */
.sidebar ul li.active {
  background-color: #53d3e9; 
}

/* Couleur de fond pour les onglets non actifs lorsqu'ils sont survolés */
.sidebar ul li:not(.active):hover {
  background-color: #61e1d2;
}

  .content-box {
    margin-left: 220px; /* Pour laisser de l'espace pour les onglets */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 250px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    max-height:  68%; /* Hauteur maximale de l'onglet */
    overflow-y: auto; /* Ajouter le défilement vertical lorsque nécessaire */
  }
  

.presentation {
  flex-grow: 1;
  text-align: center;
  max-width: 900px;
  margin-left: 30px;
  font-size: 17px;
  margin-right: 20px;
}

a {
  color: #333;
  font-weight: bold;
}

.header-box .photo_profil img {
  width: 100px;
  border-radius: 50%;
  margin-left: 30px;
}


.sidebar li.active a {
  font-weight: bold;  
  padding: 15px;
  font-size: 19px;
}

.photo {
  transform: scaleX(-1);
  margin-left: 10px;
}

.presentoir {
  font-size: 35px;
  font-weight: bold;
}

#logo_in {
  margin-left: 10px;
  vertical-align: middle;
  width: 150px;
}

.titre {
  position: sticky;
  text-align: center; 

  color: #09456d;
  margin-bottom: 20px;
  font-size: 30px;

}

#competences_div {
  overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire */
}

table {
  margin-left: 5px;
  border-collapse: separate;
  border-spacing: 15px; /* Espacement entre les colonnes */
  width: 100%;
  font-family: 'Montserrat';
  height: 300px;
  text-align: center;
  table-layout: fixed;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #61e1d2;
  font-weight: bold;
}

td {
  text-align: left;
}

#p_stage {
  text-align: justify;
  padding: 30px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  max-height: 350px;
  width: auto;
}

.table {
  width: 100%;
}

.card-img {
  width: auto;
  height: 150px;
  display: block;
  border-radius: 10px 10px 0 0;
}

.table-bordered {
  margin-left: 0;
}

.card {
  margin-top: 20px;
}

.card-content {
  padding: 15px;
  font-size: 0.8rem;
}

.card-text {
  font-size: 0.8rem;
}

.btn {
  font-size: 0.8rem;
}

#logo_isa {
  width: 200px;
  height: 70px;
  margin-left: 450px;
}

.cv_div {
  max-width: 500px;
  max-height: 500px;
}

.keyword-buttons {
  margin-top: 10px;
}

.keyword-button {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  border-radius: 20px;
  background-color: #1acece; /* Couleur de fond */
  color: #fff; /* Couleur du texte */

}

@media (max-width: 768px) {
  .content-box {
    width: auto; /* Rétablissez la largeur automatique pour que la div s'adapte à la taille du contenu */
    margin-top: 10px; /* Ajoutez une marge supérieure pour l'espacement */
  }

  /* Vous pouvez également ajuster d'autres styles ici si nécessaire */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajustez la hauteur selon vos besoins */
}